* {
    box-sizing: border-box;
  }
  
  /* For WebKit browsers (e.g., Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 10px; /* Adjust the width for vertical scrollbars */
    height: 10px; /* Adjust the height for horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the scrollbar color */
    border-radius: 10px; /* Make it rounded */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darken on hover */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
  }
  
  body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
  }
  .container {
    /* display: grid; */
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    grid-template-columns: auto;
  }
  /* navigasjonen */
  .navigasjonsbar {
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    margin-bottom: 1.5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5%;
    row-gap: 10px;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
  }

  
.logo {
    display: flex;
    font-size: 40px;
    height: 70px;
    justify-content: center;
    align-items: center;
  }
  .logolink {
    font-size: 40px;
  }
  
  .navliste {
    list-style: none;
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    text-align: center;
    justify-content: left;
    row-gap: 20px;
    padding: 0;
    margin: 0;
  
  }
  
  .navlisteikon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    row-gap: 10px;
    padding: 0;
    margin-top: 0%;
  }
  
  .søkefelt-ikon {
    width: 70%;
    position: relative;
  }
  
  .søkefelt {
    height: 32px;
    padding: 5%;
    font-size: 12px;
    width: 100%;
    border-radius: 25px;
    border: 1.5px solid black;
    outline: none;
  }
  
  .søkeknapp {
    font-size: 14px;
    margin: 1%;
    position: absolute;
    right: 12px;
    top: 23%;
  }
  
  /* styling for footer */
  
  .footer {
    display: block;
    flex-direction: column;
    gap: 30px;
    padding: 0%;
    border-top: 1.5px solid rgb(161, 161, 161);
    font-size: 15px;
  }
  
  .footer-logo-seksjon {
    p {
      margin-top: 3%;
    }
    .footer-logo {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }